<div>
	<h3 id="title">Jobs summary</h3> 
	<div class="findJob">
		Select status :
		<select class="selectStatus" id="selectStatus" ng-model="selectStatus.selection" ng-options="server for server in statusAvail"> </select> <i> (default : DONE) </i>


	</div>
	
	

	<div id="resultFindJob" class="jobs">	
	 	<job-status ng-repeat="job in jobFound" job-id="job._id" list-pca="listPCA"> </job-status>
	
		<div ng-if="noResult" class="noJobFound"> <h5> No job found with this status : {{selectStatus.selection}}</h5> </div>
	

	 <button type="button" ng-click=deleteAllDatabase() ng-if="!noResult"> Clean up all Job </button>
	 </div>
</div>