

<div ng-if="showLogin && !resetUser" class="containerLogin">
{{resetUser}}
{{user.password}}
  <form class="form-login">
    <h2 class="form-login-heading">Please login</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email" ng-model="user.email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password" ng-model="user.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Login</button>
    <div class="etc-login-form">
			<p>forgot your password? <a href="" ng-click="recoverPassword()">click here</a></p>
			<p>new user? <a href="" ng-click="switchForm()">create new account</a></p>
		</div>
  </form>
</div>

<div ng-if="!showLogin && !resetUser" class="containerLogin">
  <form class="form-login">
    <h2 class="form-login-heading">Create an account</h2>
    <label for="inputName" class="sr-only">User Name</label>
    <input id="inputName" class="form-control" placeholder="User name" required="" autofocus="" type="text" ng-model="newUser.name">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email" ng-model="newUser.email">
    <label for="inputPassword" class="sr-only">Password</label>
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password" ng-model="newUser.password">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="createUser()">Create</button>
    <div class="etc-login-form">
      <p>existing user? <a href="" ng-click="switchForm()">Login with your account</a></p>
    </div>
  </form>
</div>

<div ng-if="resetUser" class="containerLogin">
  <form class="form-rest-password" >
    <h2 class="form-login-heading">Reset your password</h2>
    <label for="inputPassword0" class="sr-only">Password</label>
    <input id="inputPassword0" class="form-control" placeholder="Password" required="" type="password" ng-model="resetUser.password0" autocomplete="off">
    <label for="inputPassword1" class="sr-only">Confirm Password</label>
    <input id="inputPassword1" class="form-control" placeholder="Confirm assword" required="" type="password" ng-model="resetUser.password1" autocomplete="off">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="resetPassword()">Reset</button>
  </form>
</div>