<!-- 
<div class=jobsDone>
	<h3 id="title"> Find jobs done by user email address </h3>
	<div class="userEmail" >
					<p class="serverChoiceText"> User email  (to receive job results ) :</p>
					<input type="email" name="user_email" ng-model="userEmail" class="emailField" required> </input>
	</div>

	<button ng-click="getJobDoneByUser()"> Search Jobs  </button>

</div> -->

<div class="jobs" id="jobs" ng-show="viewResult">
			<h2 class="jobsTitle"> Jobs done: </h2>
			<p  ng-if="noResult" class=jobNoInfo> None </p>
        <div id="resultFindJob">
			<job-status ng-repeat="job in jobFound" job-id="job._id" list-Pca="jobsSelectedPCA"> </job-status>
		</div>
		<div ng-show="!noResult">
			<label ng-if="isAdmin">	Select all matrices to compute PCA <input type="checkbox" name="selectAllJobPCA" value="selectAllJobPCA" ng-model="selectAllJobPCA" ng-init="selectAllJobPCA=false" ng-click="clickCheckbox()"/> </label>
			<br>
			<button ng-click="deleteAllDatabase()"> Clean up database </button>
		</div>
</div>
