<div class="panel panel-default">
	<div class="panel-heading">
		Jobs summary:
	</div>
	<div class="panel-body">

	<button class="btn btn-primary" ng-click="getJobByUser()" title="Refresh database"> <span class="glyphicon glyphicon-refresh" aria-hidden="true" style="text-align: center;" > </span> </button>
	
	<div class="findJob">
		Select status :
		<select class="selectStatus" id="selectStatus" ng-model="selectStatus.selection" ng-options="server for server in statusAvail"> </select> <i> (default : DONE) </i>
	</div>
	
	

	<div id="resultFindJob" class="jobs">	
	 	<job-status ng-repeat="job in jobFound" job-id="job._id" list-pca="listPCA"> </job-status>
	
		<div ng-if="noResult" class="noJobFound"> <h5> No job found with this status : {{selectStatus.selection}}</h5> </div>
	

	 <button type="button" ng-click=deleteAllDatabase() ng-if="!noResult"> Clean up all Job </button>
	 </div>
</div>