
<div id="tracto" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Probabilistic tractography with FSL tools</h3>
	</div>
	<div class="panel-body">
		<form>
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">Job name:</span>
			  <input type="text" class="form-control" name="input" ng-model="Parameters.subject" required  pattern="([\w\-]+)" ng-trim="false" title="Pattern error">
			</div>

			<br>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Input files</h2>
				</div>
				<div class="panel-body">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">DWI Image <i>(.nrrd)</i></span>
					  <input type="file" class="form-control"  id="DWI" file-model="Parameters.Files.DWI">
					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">T1 reference in DWI space <i>(.nrrd)</i></span>
					  <input type="file" id="T1" class="form-control" file-model="Parameters.Files.T1">
					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Brain mask in DWI space <i>(.nrrd)</i></span>
					  <input type = "file" id="BrainMask" class="form-control" file-model="Parameters.Files.BrainMask">
					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Parcellation table <i>(.json)</i></span>
					  <input type ="file" id="JSON" class="form-control" file-model="Parameters.Files.parcellationTable">
					  <span class="input-group-btn">
					  	<button id="buttonpop" class="btn btn-info" type="button"
					  		data-container="#tracto" data-toggle="popover" data-content="{{jsonTemplate}}" 
					  		data-placement="left"
					  		ng-click="showPop()">
					  		<span class="glyphicon glyphicon-info-sign"> </span>
					  	</button>
					  </span>
					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">Inner surface in DWI space <i>(.vtk)</i></span>
					  <input type = "file" id="innerSurface" class="form-control" file-model="Parameters.Files.innerSurface">
					</div>
					<br>
					<div class="input-group">
					  <span class="input-group-addon">
					  	<input type="checkbox" aria-label="..." name="colorExist" value="colorExist" ng-model="checkedSurfaceColored" ng-init="checkedSurfaceColored=true">
					  </span>
					  <label class="form-control ng-binding">Inner surface contains color labels</label>
					</div>
					<br>
					<div ng-show="!checkedSurfaceColored" style="text-indent: 20px; font-style: italic;">  
						Alternative surface corresponding with color labels in DWI space (.vtk) : <input type = "file" id="colorSurface" ng-disabled="checkedSurfaceColored" style="text-indent: 20px;" file-model="alternativeSurface"/> <br>
					</div>
					<br>
					
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Labelset name in vtk surface file</span>
						<input type="text" class="form-control" name="input" ng-model="Parameters.labelsetName" required ng-trim="false" pattern="([\w\-]+)" title="Pattern error">
					</div>

					<br>
					
					<div class="input-group">
						<span class="input-group-addon">
					  		<input type="checkbox" name="ignore" value="ignore" ng-model="Parameters.ignoreLabel" ng-init="Parameters.ignoreLabel=false" aria-label="...">
						</span>
					  	<label class="form-control ng-binding">Ignore label</label>
					</div>
					
					<br>
					
					<div ng-if="Parameters.ignoreLabel"> 
						<input type="text" name="input" ng-model="Parameters.ignoreLabelID"
					           required ng-trim="false"><br> 
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Extract Label Surfaces options</h2>
				</div>
				<div class="panel-body">
					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" name="overlapping" value="overlapping" ng-model="overlapping" ng-init="overlapping=true" aria-label="...">
						</span>
					  	<label class="form-control ng-binding">Overlapping</label>
					</div>
				</div>
			</div>
			<br>

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h2 class="panel-title">Bedpostx options</h2>
				</div>
				<div class="panel-body">
					<div class="input-group">
						<div class="alert alert-danger" role="alert">
							MODIFY ONLY IF YOU KNOW WHAT TO DO
							<br>
							<br>
							<br>
							<i> By default  : number of tensors in the voxel fitting = 2  </i> 
							<br>
							<br>
							Command line parameters: <br>
							<i> <u>Default</u> : <b>bedpostx DiffusionDirectory </b>-n 2 </i> <br>
						</div>
						<div class="input-group">
							<label class="form-control ng-binding">Enable <a href="" data-toggle="tooltip" title="{{tools.bedpostx.help}}"> 
						 Help <i class="glyphicon glyphicon-info-sign"> </i> </a></label>
							<span class="input-group-addon">
								<input type="checkbox" ng-model="tools.bedpostx.modify">
							</span>
							<input type="text" class="form-control" ng-model="tools.bedpostx.param" id="{{tools.bedpostx.id}}" disabled>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Tractography / Probtrackx2 options</h2>
				</div>
				<div class="panel-body">

					<div class="alert alert-danger" role="alert">
							MODIFY ONLY IF YOU KNOW WHAT TO DO
							<br>
							<br>
							Command line parameters: <br>
						<i> <u>Default</u> : <b> probtrackx2 --samples=Diffusion.bedpostX/merged --mask=Diffusion.bedpostX/nodif_brain_mask --seed=seeds.txt --seedref=T1_image.nii.gz --forcedir --network --omatrix1 -V 0 --dir=NetworkNameDirectory --stop=seeds.txt (--loopcheck) </b> -P 3000 --steplength=0.75 --sampvox=0.5 </i> <br>
					</div>

					<div class="input-group">
						<span class="input-group-addon">
							<input type="checkbox" ng-model="tools.probtrackx2.modify">
						</span>
						<label class="form-control ng-binding">Edit</label>
					</div>

					<div class="input-group">
						<label class="form-control ng-binding">Loopcheck</label>
						<span class="input-group-addon">
							<input type="checkbox" name="loopcheck" value="loopcheck" ng-model="loopcheck" ng-init="loopcheck=true" aria-label="..." ng-disabled="!tools.probtrackx2.modify">
						</span>
						<input type="text" class="form-control" ng-model="tools.probtrackx2.param" id="{{tools.probtrackx2.id}}" ng-disabled="!tools.probtrackx2.modify">
					</div>
					<div class="alert alert-info col-md-6" role="info" ng-if="tools.probtrackx2.modify" ng-bind-html="tools.probtrackx2.help">
						</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Select computing grid to run job</h2>
				</div>
				<div class="panel-body">
					<div class="input-group">
						<div  class="jobOptions">
							<div class="serverChoice">
								<select class="form-control"  id="serverSelect" ng-model="serverselect.selection" ng-options="server.name for server in serverselect.servers"> 
								</select>
							</div>

						</div>
					</div>
				</div>
			</div>
			
			<button type="button" class="btn btn-default btn-lg center-block submitTractoButton" ng-click="paramSubmitJob()" ng-if="!submitTractoButton">
			Start tractography
			</button>
			<button type="button" class="btn btn-default btn-lg center-block submitTractoButton" ng-if="submitTractoButton" disabled>
			Start tractography
			</button>
			<img src="data/ajax-loader.gif" alt="loadingDirectory"  id="loadTracto" ng-if="submitTractoButton"> 
			<br>
			<div class="listJobSubmited">
				<ul > 
					<li class="jobSubmission" ng-repeat="sub in jobSumitConfirmation track by $index"> {{sub}} </li> 	
				</ul> 
			</div>
		</form>
	</div>
</div>





