<div ng-controller="tractographyAppController"> 
  <div class="homeHEAD">
    <img class="logo" src="data/rsz_brainleft-example.png">
    <div class="title">
    <h3 id="title">Probtrack Brain Connectivity Application</h3> 
    <p class="infoText"> This is an application for plotting connectivity matrix</p></div>

  </div>


  


<!-- Tabs -->
<div >

<uib-tabset active="activePill" type="pills" class="tabsetAppMenu">
<!-- 	<uib-tab index="0" heading="Home" > -->
    	<!-- <div ng-include="'views/controllers/home.html'"></div>  -->
<!--       <home-tracto> </home-tracto> -->
      <!-- <a ng-click="tabs[2].active = true"> test1</a> -->
  <!--  </uib-tab> -->



    <uib-tab index="1" heading="Tractography" active=>
      <div> <submit-tracto  > </submit-tracto> </div>  
 </uib-tab>

    <uib-tab index="2" heading="Jobs done" >
  <jobs-done> </jobs-done>    
    </uib-tab>

    <uib-tab index="3" heading="Visualisation" >
      <connectivity-visualisation > </connectivity-visualisation>
    </uib-tab>

    <uib-tab index="4" heading="Compute PCA" >
     <compute-pca> </compute-pca> 
    </uib-tab>

    <uib-tab index="6" heading="TEST" >
     <test-dir> </test-dir> 
    </uib-tab>

  </uib-tabset> 

</div>

