<div ng-controller="tractographyAppController"> 

  <navbar></navbar>

  <div ng-include src="'header/appHeader.html'"></div>
  
<!-- Tabs -->
   <uib-tabset active="activePill" type="pills" class="tabsetAppMenu">

    <uib-tab index="1" heading="Tractography" active=>
      <div> <submit-tracto  > </submit-tracto> </div>  
    </uib-tab>

    <uib-tab index="2" heading="Jobs" >
      <find-job> </find-job>    
    </uib-tab>

    <uib-tab index="3" heading="Visualisation" >
      <connectivity-visualisation > </connectivity-visualisation>
    </uib-tab>

    <uib-tab index="4" heading="All jobs summary - Admin" >
      <test-dir> </test-dir> 
    </uib-tab>

    <uib-tab index="5" heading="Compute PCA - Admin" ng-if="isAdmin">
     <compute-pca> </compute-pca> 
    </uib-tab>

<!--     <uib-tab index="5" heading="TEST" >
     <test-dir> </test-dir> 
    </uib-tab> -->

  </uib-tabset> 



<div >
